
body {
    font-family: 'Open Sans', sans-serif;
}
.nami{
    color: aqua;
}
.button-pr{
border-radius: 5px;
background-color: aqua;
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-tittle{
    color: #181818;
    font-size: 45px ;
    font-weight: 800;
    

}
nav >ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style:none ;
    margin-right: 50px;
   

}
nav a {
    text-decoration: none;
    color: black;
}
.header{
    background-color: rgba(0, 255, 255, 0.18);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .pict{
    width: 500px;
}
.banner-grt{
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.desc{
    margin-top: 0;
}
.banner-content{
    max-width: 500px;
}
/* main section styles */ 
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */ 
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.18);
    margin: 130px 0;

}
.section-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
.section-desc{
    color: black;
    text-align: center;
    font-size: 18px;
   
}
.about-info-cont{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#nami{
    padding: 30px 150px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
padding: 30px;

border-radius: 5px;
background:rgba(0, 255, 255, 0.18);
box-shadow: black;
}
.icon{
    width: 50px;
    
}
main section{
    margin: 130px;
}
.resume-tittle{
    font-size: 30px;
    font-weight: 700;
    background:rgba(0, 255, 255, 0.18);
}
.resume-cont{
    display: flex;
    gap: 70px;
    
}
.resume-info{
font-size: 15px;
font-weight: 700;


}
.resume-item{font-size: 25px;
    font-weight: 700;

}
.fariftah{
    background:rgba(0, 255, 255, 0.18);
}
footer{
    background:rgba(0, 255, 255, 0.18);
}
.fozia{
    background:rgba(0, 255, 255, 0.18);
    margin: 30px;
}
